[blogPosts recent]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==
{% set recent = recent.posts %}

 <!-- Footer section -->
	<footer class="footer-section">
		<div class="container footer-top">
			<div class="row">
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<div class="about-widget">
						<img src="{% if ( this.theme.company_logo|length > 0 )%}{{ this.theme.company_logo|media }} {% else %}{{ 'assets/img/ptk-logo.png'|theme }} {% endif %}" alt="logo">
						<p>{% if ( this.theme.company_logo_description|length > 0 )%}{{ this.theme.company_logo_description }}{% else %} Lorem ipsum dolor sit amet, consecter adipiscing elite. Donec minos varius, viverra justo ut, aliquet nisl.{% endif %}</p>
						<div class="social pt-1">
						{% if (this.theme.social_twitter|length > 0)%}
							<a href="{{this.theme.social_twitter}}" target="_blank"><i class="fa fa-twitter-square"></i></a>
						{% endif %}
						{% if (this.theme.social_facebook|length > 0)%}
							<a href="{{ this.theme.social_facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
						{% endif %}
						{% if (this.theme.social_instagram|length > 0)%}
							<a href="{{ this.theme.social_instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
						{% endif %}
						</div>
					</div>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title">{{'Меню'|_ }}</h6>
					<div class="dobule-link">
						<ul>
							<li><a href="{{ 'home'|page }}">{{'Главная'|_ }}</a></li>
							<li><a href="{{ 'about'|page }}">{{'О нас'|_ }}</a></li>
							<li><a href="{{ 'blog'|page }}">{{'Блог'|_ }}</a></li>
							<li><a href="{{ 'contact'|page }}">{{'Контакты'|_ }}</a></li>
						</ul>
					</div>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title">{{'Новости'|_ }}</h6>
					<ul class="recent-post">
					{% for recent in posts %}
						<li>
							<p>{{ recent.title }}</p>
							<span><i class="fa fa-clock-o"></i>{{ recent.published_at|date ('d M Y')}}</span>
						</li>
					{% endfor %}
					</ul>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title">{{'Наши контакты'|_ }}</h6>
					<ul class="contact">
						<a target="_blank" href="{{this.theme.company_address_url}}"><li><p><i class="fa fa-map-marker"></i> {{this.theme.company_address}}</p></li></a>
						<a href="tel:{{this.theme.company_work_number}}"><li><p><i class="fa fa-phone"></i> {{this.theme.company_work_number}}</p></li></a>		
						<a href="tel:{{this.theme.company_mobile_number}}"><li><p><i class="fa fa-phone"></i> {{this.theme.company_mobile_number}}</p></li></a>						
						<a href="mailto:{{this.theme.company_email}}"><li><p><i class="fa fa-envelope"></i> {{this.theme.company_email}}</p></li></a>
						<li><p><i class="fa fa-clock-o"></i> {{ this.theme.company_work_time }}</p></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<p>Copyright &copy; 2021 - {{ "now" | date("Y") }} | Web site developer by <a href="{{this.theme.website_url}}" target="_blank">SKK.KZ</a></p>
			</div>		
		</div>
	</footer>
	<!-- Footer section end-->