==
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
==

<!-- header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="index.html" class="site-logo"><img src="{% if (this.theme.company_logo|length > 0)%}{{this.theme.company_logo|media}} {% else %}{{'assets/img/logo.png'|theme }} {% endif %}" alt="logo"></a>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<div class="header-info">
				<div class="hf-item">
					<i class="fa fa-clock-o"></i>
					<p><span>Working time:</span>{{ this.theme.company_work_time}}</p>
				</div>
				<div class="hf-item">
					<a target="_blank" href="{{this.theme.company_address_url}}">
						<i class="fa fa-map-marker"></i>
						<p><span>Find us:</span>{{this.theme.company_address}}</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<!-- header section end-->
	<!-- Header section  -->
	<nav class="nav-section">
		<div class="container">
			{# <div class="nav-right">
				<a href=""><i class="fa fa-search"></i></a>
			</div> #}
			<ul class="main-menu">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="#">Event</a></li>
				<li><a href="course.html">COURSES</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</nav>
	<!-- Header section end -->

<!-- Nav -->
{# <nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">Winter Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Basic concepts</a></li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="{{ 'ajax'|page }}">AJAX framework</a></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Plugin components</a></li>
                <li><a href="{{ backendUrl }}">Sign in to the Backend</a></li>
            </ul>
        </div>
    </div>
</nav> #}
