[localePicker]
forceUrl = 0
==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<!-- header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="{{ 'home'|page }}" class="site-logo"><img src="{% if (this.theme.company_logo|length > 0)%}{{this.theme.company_logo|media}} {% else %}{{'assets/img/ptk-logo.jpeg'|theme }} {% endif %}" alt="logo"></a>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<div class="header-info">
				<div class="hf-item">
					<i class="fa fa-clock-o"></i>
					<p><span>Рабочее время:</span>{{ this.theme.company_work_time|_ }}</p>
				</div>
				<div class="hf-item">
					<a target="_blank" href="{{this.theme.company_address_url}}">
						<i class="fa fa-map-marker"></i>
						<p><span>Наш адрес:</span>{{this.theme.company_address}}</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<!-- header section end-->
	<!-- Header section  -->
	<nav class="nav-section">
		<div class="container">
			<div class="nav-right">
				{% component 'localePicker' %}
			</div>
			<ul class="main-menu">
				<li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">{{ 'Главная'|_ }}</a></li>
				<li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">{{ 'О нас'|_ }}</a></li>
				<li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">{{ 'Блог'|_ }}</a></li>
				<li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">{{ 'Контакты'|_ }}</a></li>
			</ul>
		</div>
	</nav>
	<!-- Header section end -->