title = "About us"
url = "/about-us"
layout = "default"
is_hidden = 0
==


	<!-- Breadcrumb section -->
	{% partial 'elements/breadcrumb' %}
	<!-- Breadcrumb section end -->
	<!-- About section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>{{ this.theme.about_title }}</h3>
				<p>{{ this.theme.about_subtitle }}</p>
			</div>
			<div class="row">
				<div class="col-lg-6 about-text">
				{% if (this.theme.about_content|length > 0 )%}
					{{ this.theme.about_content|md }}
				{% else %}
					<h5>About us</h5>
					<p>Lorem ipsum dolor sitdoni amet, consectetur dont adipis elite. Vivamus interdum ultrices augue. Aenean dos cursus lania. Duis et fringilla leonardo. Mauris mattis phare sem, debut curus risus viverra sed.</p>
					<h5 class="pt-4">Our history</h5>
					<p>Led at felis arcu. Integer lorem lorem, tincidunt eu congue et, mattis ut ante. Nami suscipit, lectus id efficitur ornare, leo libero convalis nulla, vitae dignissim .</p>
					<ul class="about-list">
						<li><i class="fa fa-check-square-o"></i> University Faculties organise teaching and research into individual subjects.</li>
						<li><i class="fa fa-check-square-o"></i> The University is rich in history - its famous buildings attract visitors.</li>
						<li><i class="fa fa-check-square-o"></i> 50 years of people, and achievements that continue to transform.</li>
						<li><i class="fa fa-check-square-o"></i> The University's core values are as follows:freedom of thought.</li>
					</ul>
				{% endif %}
				</div>
				<div class="col-lg-6 pt-5 pt-lg-0">
				{% if ( this.theme.about_photo|length > 0 )%} 
					<img src="{{ this.theme.about_photo|media }}" alt="{{this.theme.about_photo}}">
				{% else %}
					<img src="{{'assets/img/about.jpg'|theme }}" alt="{{'assets/img/about.jpg'|theme }}">
				{% endif %}
				</div>
			</div>
		</div>
	</section>
	<!-- About section end-->

		<!-- Team section  -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>{{ this.theme.administration_title }}</h3>
				<p>{{ this.theme.administration_subtitle }}</p>
			</div>
			<div class="row">
			{% if (this.theme.administration_details|length > 0 )%}
			{% for administration in this.theme.administration_details %}
				<div class="col-md-6 col-lg-3 mt-5">
					<div class="member">
						<div class="member-pic set-bg" data-setbg="{{ administration.photo|media }}">
						</div>
						<h5>{{ administration.name }}</h5>
						<p>{{ administration.job_title }}</p>
					</div>
				</div>
			{% endfor %}
			{% else %}
				<div class="col-md-6 col-lg-3 mt-5">
					<div class="member">
						<div class="member-pic set-bg" data-setbg="{{ 'assets/img/member/1.jpg'|theme }}">
						</div>
						<h5>Sasha Johnson</h5>
						<p>Literature Teacher</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mt-5">
					<div class="member">
						<div class="member-pic set-bg" data-setbg="{{ 'assets/img/member/2.jpg'|theme }}">
						</div>
						<h5>Darmian Shaw</h5>
						<p>Physics Teacher</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mt-5">
					<div class="member">
						<div class="member-pic set-bg" data-setbg="{{ 'assets/img/member/3.jpg'|theme }}">
						</div>
						<h5>Joshua Matt</h5>
						<p>Matt Teacher</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mt-5">
					<div class="member">
						<div class="member-pic set-bg" data-setbg="{{ 'assets/img/member/4.jpg'|theme }}">
						</div>
						<h5>Taylor Launer</h5>
						<p>Music Teacher</p>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</section>
	<!-- Team section end -->