title = "Blog"
url = "/blog/:slug/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "created_at desc"
categoryPage = "blog"
postPage = "post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog"
==
{% set posts = blogPosts.posts %}

	<!-- Breadcrumb section -->
	{% partial 'elements/breadcrumb' %}
	<!-- Breadcrumb section end -->
	<!-- Blog page section  -->
	<section class="blog-page-section spad pt-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 post-list">
                {% for post in posts %}
                	<div class="post-item">
					{% for image in post.featured_images|slice(0,1)%}
						<div class="post-thumb set-bg" data-setbg="{{ image.path }}"></div>
					{% endfor %}
						<div class="post-content">
							<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
							<div class="post-meta">
								<span><i class="fa fa-calendar-o"></i> {{ post.published_at|date ('d M Y')}}</span>
								<span><i class="fa fa-user"></i> {{ post.user.first_name }} {{post.user.last_name}}</span>
							</div>
							<p>{{ post.excerpt }}</p>
						</div>
					</div>
                {% endfor %}

					{% if posts.lastPage > 1 %}
					    <ul class="site-pageination">
					        {% if posts.currentPage > 1 %}
					            <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}"> <i class="fa fa-angle-left"></i></a></li>
					        {% endif %}

					        {% for page in 1..posts.lastPage %}
					            <li>
					                <a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}" class="{{ posts.currentPage == page ? 'active' : null }}">{{ page }}</a>
					            </li>
					        {% endfor %}

					        {% if posts.lastPage > posts.currentPage %}
					            <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}"><i class="fa fa-angle-right"></i></a></li>
					        {% endif %}
					    </ul>
					{% endif %}
						{#custom pagination End#}
				</div>
				<!-- sidebar -->
				<div class="col-sm-8 col-md-5 col-lg-4 col-xl-3 offset-xl-1 offset-0 pl-xl-0 sidebar">
					<!-- widget -->
					<div class="widget">
						<h4 class="widget-title">Категоий</h4>
						{#categori list#}
						{% if blogCategories.categories|length > 0 %}
							<ul>
							    {% partial blogCategories ~ "::items"
            						categories = blogCategories.categories
            						currentCategorySlug = blogCategories.currentCategorySlug
        						%}
							</ul>
						{% else %}
    						<p>No categories were found.</p>
						{% endif %}
						{#categori list end#}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog page section end -->