title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 4
noPostsMessage = "No posts found"
sortOrder = "created_at desc"
categoryPage = "blog"
postPage = "post"

[blogPosts blogPosts2]
pageNumber = "{{ :page }}"
categoryFilter = "Courses"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"

[blogPosts blogPosts3]
pageNumber = "{{ :page }}"
categoryFilter = "events"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"
==
{% set posts = blogPosts.posts %}
{% set post2 = blogPosts2.posts %}
{% set post3 = blogPosts3.posts %}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
		{% if (this.theme.hero_image|length > 0)%}
		{% for slide in this.theme.hero_image %}
			<div class="hs-item set-bg" data-setbg="{{ slide.image|media }}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">{{ slide.subtitle }}</div>
								<h2 class="hs-title">{{ slide.title }}</h2>
								<p class="hs-des">{{ slide.description }}</p>
								<a href="{{ this.theme.hero_button_url }}"><div class="site-btn">{{ this.theme.hero_button_text }}</div></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% else %}		
			<div class="hs-item set-bg" data-setbg="{{'assets/img/hero-slider/1.jpg'|theme }}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Award Winning UNIVERSITY</div>
								<h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
								<p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
								<a href="#"><div class="site-btn">GET STARTED</div></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{{'assets/img/hero-slider/2.jpg'|theme }}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Award Winning UNIVERSITY</div>
								<h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
								<p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
								<a href="#"><div class="site-btn">GET STARTED</div></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Counter section  -->
	<section class="counter-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<div class="big-icon">
						<i class="fa fa-graduation-cap"></i>
					</div>
					<div class="counter-content">
						<h2>NEXT COUSRE: Sales & Marketing Alignment</h2>
						<p><i class="fa fa-calendar-o"></i>07:00 PM - 09:00 PM</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Counter section end -->

	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>{{this.theme.service_title}}</h3>
				<p>{{this.theme.service_subtitle}}</p>
			</div>
			<div class="row">
			{% if (this.theme.services|length > 0)%}
			{% for service in this.theme.services %}
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ service.image|media }}" alt="{{ service.title }}">
					</div>
					<div class="service-content">
						<h4>{{ service.title }}</h4>
						<p>{{ service.description }}</p>
					</div>
				</div>
			{% endfor %}
			{% else %}
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ 'assets/img/services-icons/1.png'|theme }}" alt="1">
					</div>
					<div class="service-content">
						<h4>Great Facility</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ 'assets/img/services-icons/2.png'|theme }}" alt="1">
					</div>
					<div class="service-content">
						<h4>Great Facility</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ 'assets/img/services-icons/3.png'|theme }}" alt="1">
					</div>
					<div class="service-content">
						<h4>Activity Hub</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ 'assets/img/services-icons/4.png'|theme }}" alt="1">
					</div>
					<div class="service-content">
						<h4>Fully Qualified</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ 'assets/img/services-icons/5.png'|theme }}" alt="1">
					</div>
					<div class="service-content">
						<h4>Flexible Schedule</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{{ 'assets/img/services-icons/6.png'|theme }}" alt="1">
					</div>
					<div class="service-content">
						<h4>Chemistry Lab</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</section>
	<!-- Services section end -->

	<!-- Enroll section -->
	<section class="enroll-section spad set-bg" data-setbg="{% if (this.theme.enroll_bgimage|length > 0)%}{{ this.theme.enroll_bgimage|media }} {% else %}{{'assets/img/enroll-bg.jpg'|theme }} {% endif %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="section-title text-white">
						<h3>{{ this.theme.enroll_title }}</h3>
						<p>{{ this.theme.enroll_subtitle}}</p>
					</div>
					<div class="enroll-list text-white">
					{% if (this.theme.enroll|length > 0)%}
					{% for item in this.theme.enroll %}
						<div class="enroll-list-item">
							<span>{{loop.index}}</span>
							<h5>{{ item.name }}</h5>
							<p>{{ item.description }}</p>
						</div>
					{% endfor %}
					{% else %}
						<div class="enroll-list-item">
							<span>1</span>
							<h5>Contact</h5>
							<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
						</div>
						<div class="enroll-list-item">
							<span>2</span>
							<h5>Consulting</h5>
							<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
						</div>
						<div class="enroll-list-item">
							<span>3</span>
							<h5>Register</h5>
							<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
						</div>
					{% endif %}
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
					<img src="{% if (this.theme.enroll_image|length > 0 )%} {{this.theme.enroll_image|media}} {% else %}{{'assets/img/encroll-img.jpg'|theme }} {% endif %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Enroll section end -->

	<!-- Courses section -->
	<section class="courses-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>OUR COURSES</h3>
				<p>Building a better world, one course at a time</p>
			</div>
			<div class="row">
			{% for curse in post2 %}
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
					{% for image in curse.featured_images|slice(0,1)%}
						<img src="{{ image.path }}" alt="{{ image.path }}">
					{% endfor %}
						<div class="course-cat">
							<span>{{ curse.excerpt }}</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> {{ curse.published_at|date ('d M Y')}}</div>
						<a href="{{ curse.url }}"><h4>{{ curse.title }}</h4></a>
					</div>
				</div>
				<!-- course item -->
			{% endfor %}				
			</div>
		</div>
	</section>
	<!-- Courses section end-->


	<!-- Fact section -->
	<section class="fact-section spad set-bg" data-setbg="{% if (this.theme.facts_bgimage|length > 0 ) %}{{ this.theme.facts_bgimage|media}} {% else %}{{'assets/img/fact-bg.jpg'|theme }} {% endif %}">
		<div class="container">
			<div class="row">
			{% if (this.theme.facts|length > 0)%}
			{% for item in this.theme.facts %}
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="{{ item.icon }}"></i>
					</div>
					<div class="fact-text">
						<h2>{{ item.quantity }}</h2>
						<p>{{ item.title }}</p>
					</div>
				</div>
			{% endfor %}
			{% else %}
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-crown"></i>
					</div>
					<div class="fact-text">
						<h2>50</h2>
						<p>YEARS</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-briefcase"></i>
					</div>
					<div class="fact-text">
						<h2>80</h2>
						<p>TEACHERS</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-user"></i>
					</div>
					<div class="fact-text">
						<h2>500</h2>
						<p>STUDENTS</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-pencil-alt"></i>
					</div>
					<div class="fact-text">
						<h2>800+</h2>
						<p>LESSONS</p>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</section>
	<!-- Fact section end-->


	<!-- Event section -->
	<section class="event-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>OUR EVENTS</h3>
				<p>Our department  initiated a series of events</p>
			</div>
			<div class="row">

				{% for event in post3 %}
				<div class="col-md-6 event-item">
					<div class="event-thumb">
					{% for image in event.featured_images|slice(0,1)%}
						<img src="{{ image.path }}" alt="{{ image.path }}">
					{% endfor %}
						<div class="event-date">
							<span>{{ event.published_at|date ('d M Y')}}</span>
						</div>
					</div>
					<div class="event-info">
						<h4>{{ event.title }}</h4>
						<a href="{{ event.url }}" class="event-readmore">Больше <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Event section end -->


	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="gallery">
			<div class="grid-sizer"></div>
			{% if (this.theme.gallery_big1)|length > 0 %}
			<div class="gallery-item gi-big set-bg" data-setbg="{{ this.theme.gallery_big1|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_big1|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item gi-big set-bg" data-setbg="{{'assets/img/gallery/1.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/1.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}

			{% if (this.theme.gallery_smal1_1)|length > 0 %}
			<div class="gallery-item set-bg" data-setbg="{{ this.theme.gallery_smal1_1|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_smal1_1|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item set-bg" data-setbg="{{'assets/img/gallery/2.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/2.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}

			{% if (this.theme.gallery_smal1_2)|length > 0 %}
			<div class="gallery-item set-bg" data-setbg="{{ this.theme.gallery_smal1_2|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_smal1_2|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item set-bg" data-setbg="{{'assets/img/gallery/3.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/3.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}
			{% if (this.theme.gallery_average2|length > 0 ) %}
			<div class="gallery-item gi-long set-bg" data-setbg="{{ this.theme.gallery_average2|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_average2|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item gi-long set-bg" data-setbg="{{'assets/img/gallery/5.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/5.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}
			{% if ( this.theme.gallery_big2|length > 0 ) %}
			<div class="gallery-item gi-big set-bg" data-setbg="{{ this.theme.gallery_big2|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_big2|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item gi-big set-bg" data-setbg="{{'assets/img/gallery/8.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/8.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}
			{% if ( this.theme.gallery_average1|length > 0 ) %}
			<div class="gallery-item gi-long set-bg" data-setbg="{{ this.theme.gallery_average1|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_average1|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item gi-long set-bg" data-setbg="{{'assets/img/gallery/4.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/4.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}
			{% if (this.theme.gallery_smal2_1|length > 0 ) %}
			<div class="gallery-item set-bg" data-setbg="{{ this.theme.gallery_smal2_1|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_smal2_1|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item set-bg" data-setbg="{{'assets/img/gallery/6.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/6.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}
			{% if ( this.theme.gallery_smal2_2|length > 0 ) %}
			<div class="gallery-item set-bg" data-setbg="{{ this.theme.gallery_smal2_2|media }}">
				<a class="img-popup" href="{{ this.theme.gallery_smal2_2|media }}"><i class="ti-plus"></i></a>
			</div>
			{% else %}
			<div class="gallery-item set-bg" data-setbg="{{'assets/img/gallery/7.jpg'|theme }}">
				<a class="img-popup" href="{{'assets/img/gallery/7.jpg'|theme }}"><i class="ti-plus"></i></a>
			</div>
			{% endif %}
		</div>
	</div>
	<!-- Gallery section -->


	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>LATEST NEWS</h3>
				<p>Get latest breaking news & top stories today</p>
			</div>
			<div class="row">
{% for post in posts %}
				
				<div class="col-xl-6">
					<div class="blog-item">
					<a href="{{ post.url }}">
					{% for image in post.featured_images|slice(0,1)%}
						<div class="blog-thumb set-bg" data-setbg="{{ image.path }}"></div>
					{% endfor %}
						<div class="blog-content">
							<h4>{{post.title}}</h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> {{ post.published_at|date ('d M Y')}}</span>
								<span><i class="fa fa-user"></i> {{post.user.first_name}} {{post.user.last_name}}</span>
							</div>
							<p>{{post.excerpt}}</p>
						</div>
					</a>
					</div>
				</div>
				
{% endfor %}
			</div>
		</div>
	</section>
	<!-- Blog section -->