title = "Post"
url = "/post/:slug"
layout = "default"
description = "Here description post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 8
noPostsMessage = "No posts found"
sortOrder = "random"
categoryPage = "blog"
postPage = "post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog"
==
{% set post = blogPost.post %}
{% set categ = blogCategories %}

	<!-- Breadcrumb section -->
	{% partial 'elements/breadcrumb' %}
	<!-- Breadcrumb section end -->

	<!-- Blog page section  -->
	<section class="blog-page-section spad pt-0">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="post-item post-details">
                    {% for image in post.featured_images %}
						<img src="{{ image.path }}" class="post-thumb-full" alt="">
                    {% endfor %}
						<div class="post-content">
							<h3>{{ post.title }}</h3>
							<div class="post-meta">
								<span><i class="fa fa-calendar-o"></i> {{ post.published_at|date ('d M Y')}}</span>
								<span><i class="fa fa-user"></i> {{post.user.first_name}} {{post.user.last_name}}</span>
							</div>
							<p>{{ post.content_html | raw }}</p>
                            
							<div class="tag">
							{% for cat_list in post.categories %}
								<a href="{{cat_list.url}}">{{cat_list.name}}</a> <i class="fa fa-tag"></i>
							{% endfor %}                            
                             </div>
						</div>
					</div>
				</div>
				<!-- sidebar -->
				<div class="col-sm-8 col-md-5 col-lg-4 col-xl-3 offset-xl-1 offset-0 pl-xl-0 sidebar">
					<!-- widget -->
					<div class="widget">
						<h5 class="widget-title">{{'Последние новости'|_ }}</h5>
						<div class="recent-post-widget">
							<!-- recent post -->
                            {% for post in posts %}
							<a href="{{ post.url }}">
                                <div class="rp-item">
                                    {% for image in post.featured_images|slice(0,1)%}
                                    <div class="rp-thumb set-bg" data-setbg="{{ image.path }}"></div>
                                    {% endfor %}
                                    <div class="rp-content">
                                        <h6>{{ post.title }}</h6>
                                        <p><i class="fa fa-clock-o"></i> {{ post.published_at|date ('d M Y')}}</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
							<!-- recent post -->
						</div>
					</div>
					<div class="widget">
						<h4 class="widget-title">{{'Категорий'|_ }}</h4>
						{#categori list#}
						{% if blogCategories.categories|length > 0 %}
							<ul>
							    {% partial blogCategories ~ "::items"
            						categories = blogCategories.categories
            						currentCategorySlug = blogCategories.currentCategorySlug
        						%}
							</ul>
						{% else %}
    						<p>No categories were found.</p>
						{% endif %}
						{#categori list end#}
					</div>
					<!-- widget -->
				</div>
			</div>
		</div>
	</section>
	<!-- Blog page section end -->